html {
  height: 100%;
  width: 100%;
  background-color: rgb(38, 38, 38);
  color: azure;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
}

.section1 {
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
}

a {
  color: aliceblue;
}

/* .section1:first-child {
    width: 350px;
} */

.section1 > div {
  /* border: 2px solid blue; */
  flex: 1 1 auto;
}

.section2 {
  /* border: 2px solid black; */
}

.section2 > div {
  /* border: 2px solid blue; */
  flex: 1 1 auto;
}

.section3 {
  /* border: 2px solid orange; */
  padding: 10px;
}

.company-date,
.role-location,
.school-date,
.major-location {
  display: flex;
  justify-content: space-between;
}

.bottom-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.section2-title-container {
  display: flex;
  /* border: 2px solid blue; */
  align-items: center;
}

.section2-title {
  flex-grow: 1;
  padding: 5px;
}

.caret {
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.material-symbols-outlined {
  margin: auto;
  background-color: aqua;
}
#employment > .material-symbols-outlined {
  background-color: blueviolet;
}

.companies,
.schools {
  padding: 5px;
}

.arrow-circle-right {
  color: blue;
  background-color: lightpink;
  border-radius: 50%;
  font-size: 20px !important;
}

.arrow-name {
  display: flex;
}

/* Progress Bars formatting */

.progress-bar {
  /* display: flex; */
  background-color: grey;
  /* border: 2px solid greenyellow; */
  border-radius: 10px;
  color: aliceblue;
}


.progress-bar-right {
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.progress-bar-left {
  height: 100%;
  border-radius: 10px 5px 5px 10px;
}

#python-progress {
  width: 90%;
  text-align: end;
  background-color: dodgerblue;
}

#sql-progress {
  width: 90%;
  text-align: end;
  background-color: skyblue;
}

#html-progress {
  width: 60%;
  text-align: end;
  background-color: orange;
}

#css-progress {
  width: 40%;
  text-align: end;
  background-color: lightseagreen;
}

#javascript-progress {
  width: 5%;
  text-align: end;
  background-color: plum;
}

/* Circle progress bar formatting */
/* https://steemit.com/utopian-io/@alfarisi94/how-to-make-step-progress-bar-only-using-css*/

.language {
  justify-content: center;
}

.circle-progressbar-parent-container {
  display: flex;
}

.circle-progressbar-container {
  width: 100%;
  margin: auto;
  /* position: absolute; */
  /* z-index: 1; */
  /* justify-content: center; */
}

.circle-progressbar {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  text-align: center;
  justify-content: space-evenly;
}

.circle-progressbar li {
  width: 20px;
  height: 20px;
  /* border: 2px solid #bebebe; */
  border-radius: 50%;
  display: inline-block;
  /* float: left; */
  /* position: relative; */
}

.fill-circle {
  background-color: lightskyblue;
}

.nofill-circle {
  background-color: rgb(68, 67, 67);
}

/* Testing https://css-tricks.com/css3-progress-bars/*/

.meter {
  box-sizing: content-box;
  height: 15px; /* Can be anything */

  /* position: relative; */
  margin: 5px; /* Just for demo spacing */
  background: #555;
  border-radius: 20px;
  padding: 5px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  width: 90%;
  text-align: end;
  font-size: 14px;
  border-radius: 20px 8px 8px 20px;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  /* position: relative; */
  overflow: hidden;
}



.orange > span {
  background-image: linear-gradient(dodgerblue, rgb(22, 105, 187));
}
