html {
    height: 100%;
    width: 100%;
}

.section1 {
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
}

/* .section1:first-child {
    width: 350px;
} */

.section1 > div {
    border: 2px solid blue;
    flex: 1 1 auto;
}

.section2 {
    border: 2px solid black;
}

.section2 > div {
    border: 2px solid blue;
    flex: 1 1 auto;
}

.section3 {
    border: 2px solid orange;
}

.company-date, .role-location, .school-date, .major-location {
    display: flex;
    justify-content: space-between;
}

.bottom-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.section2-title-container {
    display: flex;
    border: 2px solid blue;
    align-items: center;
}

.section2-title {
    flex-grow: 1;
    padding: 5px;
}

.caret {
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.material-symbols-outlined {
    margin: auto;
    background-color: aqua;
}

.companies, .schools {
    padding: 5px;
}

.arrow-circle-right {
    color: blue;
    background-color: lightpink;
    border-radius: 50%;
    font-size: 20px !important;
}

.arrow-name {
    display: flex;
}

/* Progress Bars formatting */

.progress-bar {
    display: flex;
}

.progress-bar > div {
    flex: 1;
}



.progress-bar-right {
    height: 100%;
    width: 2px;
    background-color: rgba(134, 132, 132, 0.851);
}

.progress-bar-left {
    height: 100%;
    width: 2px;
    background-color: pink;
}

#python-progress {
    text-align: end;
    color: aliceblue;
    flex: 90%;
    background-color: rgb(0, 38, 255);
}

#sql-progress {
    text-align: end;
    color: aliceblue;
    flex: 90%;
    background-color: rgb(0, 38, 255);
}

#html-progress {
    text-align: end;
    color: aliceblue;
    flex: 60%;
    background-color: rgb(0, 38, 255);
}

#css-progress {
    text-align: end;
    color: aliceblue;
    flex: 40%;
    background-color: rgb(0, 38, 255);
}

#javascript-progress {
    text-align: end;
    color: aliceblue;
    flex: 5%;
    background-color: rgb(0, 38, 255);
}